<section>
  <h1 class="mb-3 text-lg text-gray-900 md:text-xl dark:text-gray-400">
    Hey! This website is currently a work-in-progress.
  </h1>

  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
    Currently working pages:
  </h2>
  <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    <li>
      <a class="text-blue-500" href="/ev">Expected Value</a>
    </li>
  </ul>
</section>
